<template>
  <div class="container">
    <div class="row flex-center-center">
      <div class="col-md-10 px-5">
        <form class="form">
          <div class="group">
            <label for="name">Name</label>
            <input
              class="input shadow"
              type="text"
              placeholder="Name here"
              v-model="fields.name"
            />
            <span style="float: right">{{ fields.name.length }}/20</span>
            <span style="color: red">{{ fieldErrors.name }}</span>
            <span v-if="isNameLimitExceeded" style="color: red; display: block">
              Must be under twenty characters
            </span>
          </div>
          <div class="clearfix"></div>
          <div class="row fj-around">
            <div class="group">
              <label for="doa">Arrival date</label>
              <input
                class="input shadow"
                type="date"
                v-model="fields.arrivalDate"
              />
              <span style="color: red">{{ fieldErrors.arrivalDate }}</span>
            </div>
            <div class="group">
              <label for="dol">Departure Date</label>
              <input
                class="input shadow"
                type="date"
                v-model="fields.departureDate"
              />
              <span style="color: red">{{ fieldErrors.departureDate }}</span>
            </div>
          </div>
          <div class="group">
            <label>Reason for visit (Select as many as apply)</label>
            <select class="input shadow" v-model="fields.reasons" multiple>
              <option>Conference/Workshop</option>
              <option>Celebrations/Party</option>
              <option>Travel accommodation/Tourism</option>
              <option>Catering services</option>
            </select>
            <span style="color: red">{{ fieldErrors.reasons }}</span>
          </div>
          <div class="group">
            <label>Services/Facilities used (Select as many as apply)</label>
            <select class="input shadow" v-model="fields.services" multiple>
              <option>Sauna/Steam Bath</option>
              <option>Botanical Gardens</option>
              <option>Gym/Fitness</option>
              <option>Catering services</option>
              <option>Conference rooms</option>
            </select>
            <span style="color: red">{{ fieldErrors.services }}</span>
          </div>
          <div class="group">
            <label for="comments">Comments</label>
            <textarea
              class="input"
              placeholder="Comment on the services (include recommendations for improvement)"
              v-model="fields.comments"
            ></textarea>
            <span style="float: right">{{ fields.comments.length }}/300</span>
            <span style="color: red">{{ fieldErrors.comments }}</span>
          </div>
          <div class="clearfix"></div>
          <div class="group flex-center-center">
            <button class="btn primary submit h4-md h5-sm" @click="submitForm">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fields: {
        name: "",
        arrivalDate: "",
        departureDate: "",
        reasons: [],
        services: [],
        comments: "",
      },
      fieldErrors: {
        name: undefined,
        arrivalDate: undefined,
        departureDate: undefined,
        reasons: undefined,
        services: undefined,
        comments: undefined,
      },
      reviews: [],
    };
  },
  computed: {
    isNameLimitExceeded() {
      return this.fields.name.length >= 20;
    },
    isCommentLimitExceeded() {
      return this.fields.comments.length >= 300;
    },
  },
  methods: {
    submitForm: function (e) {
      e.preventDefault();
      this.fieldErrors = this.validateForm(this.fields);
      if (Object.keys(this.fieldErrors).length) {
        /* anime({
                    targets: "form.form", //target of animation
                    translateY: [
                        { value: 30, duration: 100 },
                        { value: 0, duration: 100 },
                    ],
                });*/
        return;
      }

      this.reviews.push(this.comments);
      this.fields.name = "";
      this.fields.arrivalDate = "";
      this.fields.departureDate = "";
      this.fields.reasons = [];
      this.fields.services = [];
      this.fields.comments = "";
    },
    validateForm(fields) {
      const errors = {};
      if (!fields.name) {
        errors.name = "At least a single name required";
      }
      if (!fields.arrivalDate) {
        errors.arrivalDate = "Date of arrival required";
      }
      if (!fields.departureDate) {
        errors.departureDate = "Date of departure required";
      }
      if (!fields.reasons) {
        errors.reasons = "Reason for visit required";
      }
      if (!fields.services) {
        errors.services = "Please select services used during visit";
      }
      if (!fields.comments) {
        errors.comments = "Please leave your comments";
      }
      return errors;
    },
  },
};
</script>

<style scoped>
button {
  min-width: 180px;
  letter-spacing: 0.2rem;
}

button:hover {
  transform: scale(1.2);
}

.card {
  border: 1px solid;
}

.jumbotron {
  max-width: 100vw;
}
</style>