<template>
  <div id="app">
    <div class="jumbotron w-100 text-center bg-primary">
      <h2>Ronin Hotel Customer Service Review Form</h2>
      <p class="h4">
        Please take some time to fill out this form to enable us to continously
        evaluate our services
      </p>
    </div>
    <HelloWorld />
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";
export default {
  components: {
    HelloWorld,
  },
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
</style>